<div class="background-container">
  <div class="mt-4 mb-4 form-container">
    <div class="header-container">
      <div class="title-container mt-5">
        <span class="title-1">Crie seu cadastro</span>
        <span class="title-2">É rápido e fácil</span>
      </div>
      <img
        src="assets/img/logo.png"
        alt="Imagem da logo"
        class="logo-img"
      />
    </div>

    <div class="main-container">
      <form class="form form-horizontal form-group center">
        <div class="grid-col-2">
          <div class="grid-test">
            <input class="form-control"
            placeholder="Nome"
            name="usuario"/>
          </div>
          <div class="grid-test mb-4 ml-20">
            <input class="form-control"
            placeholder="Sobrenome"
            name="usuario"/>
          </div>
        </div>

        <div class="col-md-11 mb-4">
          <input type="text"
           class="form-control"
           id="CPF"
           placeholder="CPF">
         </div>

         <div class="col-md-11 mb-4">
          <label class="ml-2 texto-cor-branca" for="dataNascimento">Data de Nascimento</label>
          <input class="form-control" id="date" type="date">
        </div>

        <div class="col-md-11 mb-4">
          <input type="text"
           class="form-control"
           id="celular"
           placeholder="Celular">
         </div>

        <div class="col-md-11 mb-4">
          <input type="email"
          class="form-control"
          id="email"
          placeholder="Email">
        </div>

        <div class="grid-col-3">

          <div class="mb-4">
            <input class="form-control"
            placeholder="CEP"
            name="cep"/>
          </div>

          <div class="mb-4 ml-20">
            <input class="form-control"
            placeholder="Logradouro"
            name="logradouro"/>
          </div>

          <div class="mb-4 ml-20">
            <input class="form-control"
            placeholder="Número"
            name="numero"/>
          </div>
        </div>

        <div class="grid-col-2-2">
          <div class="grid-test">
            <input class="form-control"
            placeholder="Cidade"
            name="cidade"/>
          </div>
          <div class="grid-test mb-4 ml-20">
            <input class="form-control"
            placeholder="Estado"
            name="estado"/>
          </div>
        </div>

        <div class="buttons-container center frase-btn">
          <span class="mb-4">Você é:</span>
          <div class="text-center">
            <button class="btn btn-paciente btn-lg ">Paciente</button>
            <button class="btn btn-medico btn-lg ml-20 ">Médico</button>
          </div>
        </div>
      </form>
    </div>

</div>
