<div class="container-background">
  <div class="container-img">
    <img
      class="img-login"
      src="assets/img/login.png"
      alt="Imagem de boas-vindas"
    />
  </div>

  <div class="container-login">
    <img
    src="assets/img/logo.png"
    alt="Imagem da logo"
    />

    <span class="login-frase mb-10">Faça o login em sua conta</span>
    <form class="form mt-4">
      <div class="form-group mb-10">
        <input class="form-control" placeholder="Nome do Usuário"/>
      </div>
      <div class="form-group mb-10">
        <input type="password" class="form-control" placeholder="Senha"/>
      </div>
      <div class="text-center">
        <button class="btn btn-color mt-30 mb-140">Entrar</button>
      </div>
    </form>
    <span class="frase-rodape">Ainda não tem conta?<a class="novo-cadastro"> Faça seu cadastro!</a></span>
  </div>
</div>


