.container-background {
  background-color: #2A576F ;
  min-width:1023px;
  width: auto;
  min-height:625px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-content:flex-start ;
}

.container-img {
  width: 75%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.img-login {
  width: 100%;
  height: 100%;
}

.container-login {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-frase {
  color: #FF9C72;
  font-size: 20px;
  font-family: 'Inder', sans-serif;
}

.btn-color {
  background-color: #D1EDFB;
  color: #3F474B;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-140 {
  margin-bottom: 140px;
}

.mb-10 {
  margin-bottom: 10px;
}

.novo-cadastro {
  color: #FF9C72;
  cursor: pointer;
  text-decoration: none;
}

.frase-rodape {
  color: #D1EDFB;
  font-family: 'Roboto', sans-serif;
}
